<div class="container">
  <form class="jumbotron">
      <h3 class="display-4">Pubblisher</h3>
      <div class="form-group">
        <label for="spam">Name:</label>
        <input name="spam" #newspam class="form-control">
      </div>
      <div class="form-group mt-3">
        <label for="num">Link:</label>
        <input name="num" #newnum class="form-control">
      </div>
    <button (click)="addArticle(newspam, newnum)" class="btn btn-primary mt-3">
      Pubblish
    </button>
    
    <div class="container mt-3">
      <!-- start adding here -->
      <app-article *ngFor="let art of sortedArticles()" [article]="art"></app-article>
      <!-- end adding here -->
    </div>
  </form>
</div>